<footer id="footer" class="m-0">
    <div class="container my-3">
      <h3 class="text-center">Lol Swagg</h3>
<!--       <p>Merci d'avoir visiter notre sit web.</p>
      <h5>Politique de <span>retour</span></h5> </p> -->
      <div class="social-links row">
        <a href="#" class="twitter col"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook col"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram col"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus col"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin col"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

